<script src="/javascripts/search.js"></script>
<div class="movap-titulo">
  <h4 align="left">LISTA DE GESTORES</h4>
  <hr>
</div>
<div class="col">
    <div class="row">
        <div class="col-lg-5">
            <div class="bg clearfix col">
                <button type="button" class="btn btn-primary btn-info  btn-secondary float-left"  aria-haspopup="true" aria-expanded="false"/><a  style="color:#ffffff" href="/manager/signup">NOVO</a></button>
                <button type="button" class="btn btn-primary btn-info dropdown-toggle btn-secondary float-right " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    POR DATA
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">POR DATA</a>
                    <a class="dropdown-item" href="#">POR MAC</a>
                    <div class="dropdown-divider"></div>
                </div>
            </div>
            <br>
            <div class="col">
                <div class="input-group">
                    <input  id="myInput" class="form-control" type="text" onkeyup="myFunction()" placeholder="Pesquisar" aria-label="Search" style="border-right: none;">
                </div>
            </div>
            <table class="table table-bordered table-responsive-sm mt-4">
              <tbody id="myTable" class="element">
                {{#each managers}}
                <tr>
                  <th scope="row" class="font-book text-center" onclick="location.href='/manager/edit/{{id}}'">{{name}}</th>
                  <th width="50" scope="row" class="font-book text-center" onclick="location.href='/manager/edit/{{id}}'">. . .</th>
                </tr>
                {{/each}}
              </tbody>
            </table>
         </div>
   </div>
</div>
<br><br><br><br><br>
<script type="text/javascript" src="/javascripts/edit.js">  </script>
