<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

<div class="movap-titulo">
  <h4 align="left">Clientes x Aparelhos</h4>
  <hr>
</div>
<div class="col">
    <div class="row">
        <div class="col-5">
            <div class="bg clearfix col mb-3">
                <button type="button" class="btn btn-primary btn-info  btn-secondary float-left"  aria-haspopup="true" aria-expanded="false"><a  style="color:#ffffff" href="/clientsxdevices">NOVO</a></button>
                <button type="button" class="btn btn-primary btn-info dropdown-toggle btn-secondary float-right " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    POR DATA
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">POR DATA</a>
                    <a class="dropdown-item" href="#">POR MEC</a>
                    <a class="dropdown-item" href="#">POR ...</a>
                    <div class="dropdown-divider"></div>
                </div>
            </div>
            <div class="col">
                <div class="input-group">
                  <div class="input-group">
                      <input class="form-control" type="search" placeholder="Pesquisar" aria-label="Search" style="border-right: none;">
                      <div class="input-group-append">
                          <div class="input-group-text" style="background-color: #FFF"><i class="fas fa-search"> </i></div>
                      </div>
                  </div>
                </div>
            </div>
            <br><br>
            <div class="col">
                <ul class="list-group ">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
        </div>
    </div>
 </div>
<br><br><br><br><br><br><br><br><br><br>
