<div class="movap-titulo">
  <h4 align="left">CLIENTES X APARELHOS</h4>
  <hr>
</div>

<form >
  <div class="form-group col-8">
    <p class="movap-nomes" align="left">Código do Cliente</p>
    <input type="text" class="form-control" id="intentificação" name="client[codClient]" placeholder="" required>
  </div>
  <div class="form-group col-8">
    <p class="movap-nomes" align="left">Número do aparelho</p>
    <input type="text" class="form-control" id="intentificação" name="device[numId]" placeholder="" required>
  </div>
  <div class="form-group col-8">
    <p class="movap-nomes" align="left">Data de Entrega</p>
    <input type="date" class="form-control" id="datamov" name="device[dateMov]"  placeholder="" required>
  </div>
  <div class="form-group justify-content-start col-md-8 d-flex movap">
    <input type="submit" value="CONFIRMAR" class="btn btn-primary" required>
  </div>
</form>
