
<div >

  <div class="movap-titulo">
    <h4 align="left">CADASTRO DE CLIENTES</h4>
    <hr>
  </div>

  <form action="/clientsRegistration" method="post">
    <div class="form-group col-8">
      <p class="movap-nomes" align="left">Código do Cliente</p>
      <input type="text" class="form-control" id="intentificação" name="Clients[codClient]"placeholder="">
    </div>
    <div class="form-group col-8">
      <p class="movap-nomes" align="left">Razão Social</p>
      <input type="text" class="form-control" id="intentificação" name="Clients[corporateName]"placeholder="">
    </div>
    <div class="form-group col-8">
      <p class="movap-nomes" align="left">Nome Fantasia</p>
      <input type="text" class="form-control" id="intentificação" name="Clients[fantasyname]"placeholder="">
    </div>
    <div class="form-group col-8">
      <p class="movap-nomes" align="left">CNPJ</p>
      <input type="number" class="form-control" id="intentificação" name="Clients[cnpj]"placeholder="">
    </div>
    <div class="form-group col-8">
      <p class="movap-nomes" align="left">Endereço</p>
      <input type="text" class="form-control" id="intentificação" placeholder="">
    </div>
    <div class="form-group col-8">
      <p class="movap-nomes" align="left">E-mail</p>
      <input type="email" class="form-control" id="intentificação" name="Clients[email]" placeholder="">
    </div>
    <div class="form-group col-8">
      <p class="movap-nomes" align="left">Telefone</p>
      <input type="tel" class="form-control" id="intentificação" name="Clients[phone]"placeholder="">
    </div>
    <div class="form-group col-8">
      <p class="movap-nomes" align="left">Nome para contato</p>
      <input type="text" class="form-control" id="intentificação" name="Clients[nameContact]"placeholder="">
    </div>
    <div class="form-group col-8">
      <p class="movap-nomes" align="left">Status</p>
      <select class="form-control" id="exampleFormControlSelect1" name="Clients[status]">
        <option>Ativo</option>
        <option>Outros</option>
      </select>
    </div>
    <div class="form-group justify-content-start col-md-8 d-flex movap">
      <input type="submit" value="CONFIRMAR" class="btn btn-primary" >
    </div>
  </form>
</div> 
