<div class="movap-titulo">
  <h4 align="left">CADASTRO DOS APARELHOS</h4>
  <hr>
</div>
<div class="col">
    <div class="row">
        <div class="col-5">
            <div class="bg clearfix col">
                <button type="button" class="btn btn-primary btn-info  btn-secondary float-left"  aria-haspopup="true" aria-expanded="false"><a  style="color:#ffffff" href="/deviceRegistration">NOVO</a></button>
                <button type="button" class="btn btn-primary btn-info dropdown-toggle btn-secondary float-right " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    POR DATA
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">POR DATA</a>
                    <a class="dropdown-item" href="#">POR MEC</a>
                    <a class="dropdown-item" href="#">POR ...</a>
                    <div class="dropdown-divider"></div>
                </div>
            </div>
            <div class="div-home">
                <ul class="list-group ">
                    {{#each devices}}
                      <li class="list-group-item">{{numId}}</li>
                    {{/each}}
                </ul>
            </div>
         </div>
   </div>
</div>
<br>
