<div class="movap-titulo">
  <h4 align="left">CADASTRO DOS APARELHOS</h4>
  <hr>
</div>

<form action="/device/signup" method="post">
  <div class="form-group col-lg-4">
    <p class="movap-nomes" align="left">Número do lote</p>
    <input type="text" class="form-control" id="intentificação" name="device[numLot]" required>
  </div>
  <div class="form-group col-lg-4">
    <p class="movap-nomes" align="left">Número de identificação</p>
    <input type="text" class="form-control" id="intentificação" name="device[numId]" required>
  </div>
  <div class="form-group col-lg-4">
    <p class="movap-nomes" align="left">Data de fabricação</p>
    <input type="date" class="form-control" id="intentificação" name="device[dateFab]" required>
  </div>
  <div class="form-group col-lg-4">
    <p class="movap-nomes" align="left">Fornecedor</p>
    <input type="text" class="form-control" id="intentificação" name="device[provider]" required>
  </div>
  <br>
  <div class="form-group justify-content-start col-md-8 d-flex movap">
    <input type="submit" value="CONFIRMAR" class="btn btn-primary" >
  </div>
  <br><br><br><br>
</form>

<script src="/javascripts/dashboard.js"></script>
