<div class="movap-titulo">
  <h4 align="left">LOG DE USO</h4>
  <hr>
</div>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

<div
    <div class="card">
    <div class="card-body">
        <h6 align="left">COLABORADOR</h6>
    </div>

    <div class="col">
            <div class="row">
                <div class="col-5">
                    <div class="bg clearfix col">
                        <label class="text-left" for="Input1">Nome do colaborador</label>
                        <input type="email" class="form-control"  id="Input1" placeholder=""> 
                        <br>
                        <label  class="text-left" for="Input2">Número do aparelho</label>
                        <input type="email" class="form-control" id="Input2" placeholder="">    
                    </div>
                    <br>
                    <div class="col"></div>
                </div>
            </div>
        </div>
    
    </div>

    <div class="card">
    <div class="card-body">
        <h6 align="left">APARELHO COLOCADO NO DISPOSITIVO</h6>
    </div>
    
    <div class="col">
            <div class="row">
                <div class="col-5">
                    <div class="bg clearfix col">
                        <button type="button" class=" col-lg-5 btn btn-outline-info dropdown-toggle  float-left " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            NO MÊS
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">NO DIA </a>
                            <a class="dropdown-item" href="#">NA SEMANA</a>
                            <a class="dropdown-item" href="#">POR ...</a>
                            <div class="dropdown-divider"></div>
                        </div>
                        <i class="far float-left fa-2x fa-border fa-calendar-alt"></i>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    
    </div>
</div>