<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">


<div class="movap-titulo">
  <h4 align="left">ACOMPANHAMENTO OFFLINE</h4>
  <hr>
</div>


<div class="col">
    <div class="row">
        <div class="col-5">
            <div class="bg clearfix col">

                <button type="button" class="btn btn-primary btn-info dropdown-toggle btn-secondary float-right " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    POR NOME
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">POR DATA</a>
                    <a class="dropdown-item" href="#">POR MEC</a>
                    <a class="dropdown-item" href="#">POR ...</a>
                    <div class="dropdown-divider"></div>
                </div>
            </div>
            <br>
            <div class="col">
                <div class="input-group">
                    <input class="form-control" type="search" placeholder="Pesquisar" aria-label="Search" style="border-right: none;">
                    <div class="input-group-append">
                        <div class="input-group-text" style="background-color: #FFF"><i class="fas fa-search"></i></div>
                    </div>
                </div>
            </div>
         </div>
   </div>
</div>
