<div class="movap-titulo">
  <h2 align="left">ACOMPANHAMENTO OFF-LINE</h2>
  <hr>
</div>

<div class="card mb-4">
  <div class="card-body">
    <h6 align="left" color="gray">COLABORADOR</h6>
    <hr>
  </div>

  <div class="col">
    <div class="row">
      <div class="col-2">
        <!-- Espaço para a foto do usuário que não sei se vai dar bom  -->
      </div>
      <div class="col-5">
          <div class="bg clearfix col">
              <p align="left" class="mb-0" for="Input1">Nome do colaborador</p>
              <input type="email" class="form-control movap-boxcinza"  id="Input1" placeholder="">
              <br>
              <p align="left" class="mb-0" for="Input2">Número do aparelho</p>
              <input type="email" class="form-control movap-boxcinza" id="Input2" placeholder="">
          </div>
          <br>
      </div>
    </div>
  </div>
</div>


<div class="card mb-4">
  <div class="card-body">
    <h6 align="left" color="gray">APARELHO COLOCADO NO DISPOSITIVO</h6>
    <hr>
  </div>
  <div class="row">
    <button type="button" class="btn btn-outline-primary dropdown-toggle btn-lg ml-4 " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        No mês
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">POR DATA</a>
      <a class="dropdown-item" href="#">POR MEC</a>
      <a class="dropdown-item" href="#">POR ...</a>
      <div class="dropdown-divider"></div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered ml-4 mr-4">
      <tr>
        <th width="100" scope="row" class="font-book text-center">Data</th>
        <th width="50" scope="row" class="font-book text-center">Hora</th>
        <th width="50" scope="row" class="font-book text-center">Hora</th>
        <th width="50" scope="row" class="font-book text-center">Hora</th>
        <th width="50" scope="row" class="font-book text-center">Hora</th>
        <th width="50" scope="row" class="font-book text-center">Hora</th>
        <th width="50" scope="row" class="font-book text-center">Hora</th>
        <th width="50" scope="row" class="font-book text-center">Hora</th>
      </tr>
    </table>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h6 align="left" color="gray">APARELHO RETIRADO NO DISPOSITIVO</h6>
    <hr>
  </div>
  <div class="col">
    <div class="row">
      <button type="button" class="btn btn-outline-primary dropdown-toggle btn-lg ml-4 " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          No mês
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">POR DATA</a>
        <a class="dropdown-item" href="#">POR MEC</a>
        <a class="dropdown-item" href="#">POR ...</a>
        <div class="dropdown-divider"></div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered ml-4 mr-4">
        <tr>
          <th width="100" scope="row" class="font-book text-center">Data</th>
          <th width="50" scope="row" class="font-book text-center">Hora</th>
          <th width="50" scope="row" class="font-book text-center">Hora</th>
          <th width="50" scope="row" class="font-book text-center">Hora</th>
          <th width="50" scope="row" class="font-book text-center">Hora</th>
          <th width="50" scope="row" class="font-book text-center">Hora</th>
          <th width="50" scope="row" class="font-book text-center">Hora</th>
          <th width="50" scope="row" class="font-book text-center">Hora</th>
        </tr>
      </table>
    </div>
  </div>
</div>
  <br><br><br><br><br><br>
