<div class="movap-titulo">
  <h4 align="left">ACOMPANHAMENTO ONLINE</h4>
  <hr>
</div>

<div class="card mb-4">
  <div class="card-body">
    <h6 align="left" color="gray">COLABORADOR</h6>
    <hr>
  </div>

  <div class="col">
    <div class="row">
      <div class="col-2">
        <!-- Espaço para a foto do usuário que não sei se vai dar bom  -->
      </div>
      <div class="col-5">
          <div class="bg clearfix col">
              <p align="left" class="mb-0" for="Input1">Nome do colaborador</p>
              <input type="text" class="form-control movap-boxcinza"  id="Input1" value="{{station.nameEmployed}}" disabled>
              <br>
              <p align="left" class="mb-0" for="Input2">Número do aparelho</p>
              <input type="text" class="form-control movap-boxcinza" id="Input2" value="{{station.deviceNumber}}" disabled>
          </div>
          <br>
      </div>
    </div>
  </div>
</div>

<div class="card mb-4">
  <div class="card-body">
    <h6 align="left" color="gray">STATUS DO CELULAR</h6>
    <hr>
  </div>
  <div class="col">
    <div class="row">
      <div class="col-2">
        <!-- Espaço para a foto do aparelho que não sei se vai dar bom  -->
        <p align="left" class="mb-0" for="Input2">Status</p>
        <input type="text" class="form-control movap-boxcinza" id="Input2" value="{{station.status}}" disabled>
      </div>
      <div class="col-5">
          <div class="bg clearfix col">
              <p align="left" class="mb-0" for="Input1">Tempo total disponível</p>
              <input type="text" class="form-control movap-boxcinza"  id="Input1" value="{{station.toleranceTime}}" disabled>
              <br>
          </div>
          <br>
      </div>
    </div>
  </div>
</div>
<br><br><br>
