<div class="movap-titulo">
  <h4 align="left">ACOMPANHAMENTO ONLINE</h4>
  <hr>
</div>

<div class="card">
  <div class="card-body">
    <h6 align="left">COLABORADOR</h6>
   </div>

    <div class="col">
        <div class="row">
            <div class="col-5">
                <div class="bg clearfix col">
                    <label class="text-left" for="Input1">Nome do colaborador</label>
                    <input type="email" class="form-control"  id="Input1" placeholder=""> 
                    <br>
                    <label  class="text-left" for="Input2">Número do aparelho</label>
                    <input type="email" class="form-control" id="Input2" placeholder="">    
                </div>
                <br>
                <div class="col">
                    
                </div>
            </div>
    </div>
  </div>
</div>