<br>
<h1 align="center">Cadastro de Aparelhos</h1>
<hr>
<br>
<form>
    <div class="form-group input-group-lg d-flex justify-content-center ">
      <div class="col-md-5">
        <p align="left" for="numberlote">Número do Lote </p>
        <input type="text" class="form-control input-lg" id="numberlote" >
      </div>
    </div>
    <div class="form-group input-group-lg d-flex justify-content-center" >
      <div class="col-md-5">
        <p align="left" for="numberid">Número de identificação</p>
        <input type="text" class="form-control input-lg" id="numberid" >
      </div>
    </div>
    <div class="form-group input-group-lg d-flex justify-content-center" >
      <div class="col-md-5 ">
       <p align="left" for="datefab">Data de fabricação</p>
       <input type="text" class="form-control input-lg" id="datefab">
      </div>
    </div>
    <div class="form-group input-group-lg d-flex justify-content-center" >
       <div class="col-md-5 ">
       <p align="left" for="forne">Fornecedor</label>
       <input type="text" class="form-control input-lg" id="forne">
      </div>
    </div>
    <br>
    <div class="form-group d-flex justify-content-start">
      <div class="col-md-9">
        <input type="submit" value="CONFIRMAR" class="btn btn-primary" >  
      </div>
    </div>
</form>

