<br>
<h1 align="center">Cadastro de Aparelhos</h1>
<hr>
<br>
<div class="col">
    <div class="row">
        <div class="col-5">
            <div class="bg clearfix col">
                <button type="button" class="btn btn-primary btn-mds float-left "><a  style="color:#ffffff" href="/cadastroAparelho">NOVO</a></button>
                <button type="button" class="btn btn-primary btn-info dropdown-toggle btn-secondary float-right " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    POR DATA
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">POR DATA</a>
                    <a class="dropdown-item" href="#">POR MEC</a>
                    <a class="dropdown-item" href="#">POR ...</a>
                    <div class="dropdown-divider"></div>
                </div>
            </div>
            <div class="col"> 
                <ul class="list-group ">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
         </div>   
   </div>
</div>

