<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">

<header class="header_dashboard">
  <img class="img_logo"src="/images/Logo_Modera_2.png" align="left">
  <img class="img_usuario"src="/images/usuario_logo.png" align="right">
</header>

<body class="">
  <div id="mySidenav" class="sidenav">
    <div class="">
      <a style="text-decoration:none"href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <h4>ADMINISTRADOR</h4>
      <br>
      <a  style="text-decoration:none" href="/cadastroAparelho">Cadastro dos Aparelhos</a>
      <a  style="text-decoration:none" href="/login">Movimentação dos Aparelhos</a>
      <a  style="text-decoration:none" href="/login">Cadastro dos Clientes</a>
      <a  style="text-decoration:none" href="/login">Clientes x Aparelhos</a>
    </div>
  </div>

  <div class="menu_fechado">
    <span style="font-size:30px" onclick="openNav()">&#9776;</span>
  </div>


</body>

<div class="footer" align="center">
  <footer class="dashboard_page">
    <br>
    <p>&copy 2019 Modera. Todos os direitos reservados </p>
  </footer>
</div>

<script type='text/javascript' src='http://code.jquery.com/jquery-1.10.1.min.js'></script>
<script src="/public/javascripts/dashboard.js"></script>
<script type="text/javascript">
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}

</script>
