<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">

<header class="dashboard_page">
  <p class="header_dashboard"> Modera </p>
</header>

<body class="">

  <div id="menu_dashboard_aberto" class="barra-lat col-md-2" align="left">
    <a href="#"  onclick="getElementById('menu_dashboard_aberto').style.display = 'none';"
     onclick="getElementById('menu_dashboard_fechado').style.display = 'block';" align="right"> X </a>
    <br>
    <h4 style="color:white;">ADMINISTRADOR</h4>
    <br>
    <a  style="color:white;text-decoration:none" href="/login">Cadastro dos Aparelhos</a>
    <br>
    <a  style="color:white;text-decoration:none" href="/login">Movimentação dos Aparelhos</a>
    <br>
    <a  style="color:white;text-decoration:none" href="/login">Cadastro dos Clientes</a>
    <br>
    <a  style="color:white;text-decoration:none" href="/login">Clientes x Aparelhos</a>
    <br>
  </div>

  <div id="menu_dashboard_fechado" class="barra-lat col-md-1" align="left">
    <a href="#" onclick="getElementById('menu_dashboard_aberto').style.display = 'block';"
    onclick="getElementById('menu_dashboard_fechado').style.display = 'none';"> Abrir </a>
  </div>

</body
<script type='text/javascript' src='http://code.jquery.com/jquery-1.10.1.min.js'></script>

<script src="/javascripts/homeadmin.js"></script>
<script src="/javascripts/dashboard.js"></script>
<script type="text/javascript">

</script>
<div class="footer" align="center">
  <footer class="dashboard_page">
    <br>
    <p>&copy 2019 Modera. Todos os direitos reservados </p>
  </footer>
</div>
