<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">

<header class="dashboard_page">
  <p class="header_dashboard"> Modera </p>
</header>

<body class="bodydash">

<div class="background " style="">
  <div class="barra-lat col-md-2" align="left">
    <br>
    <h4 style="color:white;">ADMINISTRADOR</h4>
    <br>
    <a  style="color:white;text-decoration:none" href="/login">Cadastro dos Aparelhos</a>
    <br>
    <a  style="color:white;text-decoration:none" href="/login">Movimentação dos Aparelhos</a>
    <br>
    <a  style="color:white;text-decoration:none" href="/login">Cadastro dos Clientes</a>
    <br>
    <a  style="color:white;text-decoration:none" href="/login">Clientes x Aparelhos</a>
    <br>
  </div>
</div>

</body
<script type='text/javascript' src='http://code.jquery.com/jquery-1.10.1.min.js'></script>

<script src="/javascripts/homeadmin.js"></script>

<div class="footer" align="center">
  <footer class="dashboard_page">
    <br>
    <p>&copy 2019 Modera. Todos os direitos reservados </p>
  </footer>
</div>
