<div class="wrapper" id="forgotPassword">
  <div class="password-box" id="forgotPassword-box">
      <form action="/forgotPassword" method="post">
      <h1> Esqueci minha senha </h1>
      <br>
        <div class="textbox" id="forgotPassword-text">
          <input type="email" class="input-placeholder" placeholder="email" name="user[email]">
        </div>
        <input class="btn btn-login mt-2" type="submit" value="Enviar" id="login-btn">
      </form>
  </div>
</div>
<script type='text/javascript' src='http://code.jquery.com/jquery-1.10.1.min.js'></script>

<script src="/javascripts/forgotPassword.js"></script>
