<script type='text/javascript' src='http://code.jquery.com/jquery-1.10.1.min.js'></script>
<script src="/javascripts/forgotPassword.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <div class=" img-login">
       <div class="d-flex justify-content-center" align = "center">
        <div class="col-lg-5 col-md-7 mb-2 pb-2 " >
             <div class="boxe " >
                <form action="/forgotPassword" method="post">
                  <img class="boxe-img" src="/images/Logo_Modera_1.png" >
                  <h1> Esqueci minha senha </h1>
                  <div class="input-group input-group">
                      <input id="email" type="email" class="form-control " name="user[email]" placeholder="Digite seu email" >
                  </div>
                  <br>
                  <input type="submit" value="Enviar" class="btn btn-lg btn-primary col-12 mb-4" name=""></input>
                </form>
                <br><br>
              </div>
        </div>
      </div>
    </div>

<div class="footer " align="center">
  <footer class="dashboard_page">
    <br>
    <p>&copy 2019 Modera. Todos os direitos reservados </p>
  </footer>
</div>
