<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

</head>
<header class="header_dashboard">
  <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <img class="img_logo"src="/images/Logo_Modera_2.png" align="left">
  <img class="img_usuario"src="/images/usuario_logo.png" align="right">
</header>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="openbtn" id="menu-toggle">&#9776; Toggle Sidebar</button>
      </nav>
      <div class="list-group" >
        <h5>ADMINISTRADOR</h5>
      <hr>
      <a style="text-decoration:none" href="/deviceRegistrationHome">Cadastro dos Aparelhos</a>
      <a style="text-decoration:none" href="/moveDeviceHome">Movimentação dos Aparelhos</a>
      <a style="text-decoration:none" href="/cadastroClientes">Cadastro dos Clientes</a>
      <a style="text-decoration:none" href="/login">Clientes x Aparelhos</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
      <div class="container container-fluid">
        {{{body}}}
        <p>OIIII></p>
        <h5></h5>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
  <script type='text/javascript' src='http://code.jquery.com/jquery-1.10.1.min.js'></script>
  <script src="javascripts/dashboardManager.js"></script>
  <script src="/javascripts/jquery.js" charset="utf-8"></script>
  <script src="/bootstrap/js/bootstrap.bundle.min.js" charset="utf-8"></script>
  

</body>
  <footer class="dashboard_page">
    <div class="footer" align="center">
      <br>
      <p>&copy 2019 Modera. Todos os direitos reservados </p>
    </div>
  </footer>

</html>