<!DOCTYPE html>
<html>
 <head>
   <title>{{title}}</title>
   <link rel='stylesheet' href='/stylesheets/style.css' />
   <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
   <meta name="viewport" content ="width=device-width, initial-scale=1, shrink-to-fit=no">
 </head>
 <body>
   <script src="/javascripts/jquery.js" charset="utf-8"></script>
   <script src="/bootstrap/js/bootstrap.bundle.min.js" charset="utf-8"></script>
   <nav class="navbar navbar-default no-margin">
     <div class="navbar-header fixed-brand">
       <button class="navbar-toggle collapsed" data-toggle="collapse" id="menu-toggle">
         <span class="fa fa-4x fa-bars" aria-hidden="true"></span>
       </button>
     </div>
     <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
       <ul class="nav navbar-nav">
         <li class="active">
           <button class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-2">
             <span class="fa fa-4x fa-bars" aria-hidden="true"></span>
           </button>
         </li>
       </ul>
     </div>
     <div id="dashboard-user" class="navbar-brand" href="#"><a><i class="fa fa-user fa-4"></i> {{user.fullname}}</a></div>
     <a type="button" id="dashboard-logout" class="btn btn-primary btn-sm" href="/logout">Logout</a>
   </nav>
   <div id="wrapper">
     <div id="sidebar-wrapper">
        <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
             <li class="active">
               <a href="/requisition"><span class="fa-stack fa-lg pull-left"><i class="fa fa-dashboard fa-stack-1x "></i></span>Nova Requisição de Análise</a>
             </li>
        </ul>
     </div>
     <div id="page-content-wrapper">
        <div class="container-fluid xyz">
          {{{body}}}
        </div>
     </div>
    </div>
    <script src="/javascripts/layoutDashboard.js"></script>
 </body>
</html>
