
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <div class=" img-login">

       <div class="d-flex justify-content-center" align = "center">

        <div class="col-lg-5 col-md-7 " >

             <div class="boxe " >
                <form action="/login" method="post">

                    <img class="boxe-img" src="/images/Logo_Modera_1.png" >

                        <div class="input-group input-group">
                            <span class="input-group-addon" ><i class="fas fa-user"></i></span>
                            <input id="email" type="email" class="form-control" name="user[email]" placeholder="USUÃRIO       " >
                        </div>
                        <div class="mt-2 input-group input-group">
                            <span class="input-group-addon"><i class="fas fa-lock"></i></span>
                            <input id="password" type="password" class="form-control" name="user[password]" placeholder="SENHA       ">
                        </div>
                        <br>
                        <input type="submit" value="ENTRAR" class="btn btn-lg btn-primary col-12 " name=""></input>

                        <div class="row mt-3">
                            <div class="col-12 form-group" >
                                <label id="exampleCheck2" ><a href="/forgotPassword">Esqueceu sua senha?</a></label>
                            </div>
                        </div>

                </form>

          </div>
        </div>
        </div>
    </div>

<div class="footer " align="center">
  <footer class="dashboard_page">
    <br>
    <p>&copy 2019 Modera. Todos os direitos reservados </p>
  </footer>
</div>
