
<div>
    <div class="boxe col-10 col-lg-3">
            <form action="/login" method="post">
               <img class="img_logo_top" class="img-fluid" src="/images/Logo_Modera_1.png" >
                <div class="input-group input-group-lg">
                    
                        <span class="input-group-addon" ><i class="glyphicon glyphicon-user"></i></span>
                        <input id="email" type="email" class="form-control" name="user[email]" placeholder="USUÃRIO       " >
                    
                </div>
                <div class="mt-2 input-group input-group-lg">

                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input id="password" type="password" class="form-control" name="user[password]" placeholder="SENHA     ">
                    
                </div>
                <br>
                <input type="submit" value="ENTRAR" class="btn btn-lg btn-primary col-12 " name=""></input>

                <div class="row mt-3">
                    <div class="col-5 form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="pl-4 form-check-label" for="exampleCheck1">Lembre-me</label>
                    </div>
                    <div class="col-7 form-group" >
                        <label id="exampleCheck2" ><a href="/login">Esqueceu sua senha?</a></label>
                    </div>
                </div>

            </form>
    </div>
</div>

<div class="footer" align="center">
  <footer class="dashboard_page">
    <br>
    <p>&copy 2019 Modera. Todos os direitos reservados </p>
  </footer>
</div>


