<div>
    <div class="boxe col-10 col-lg-3">
            <form action="/login" method="post">
                
                <div class="mt-2 input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input id="email" type="text" class="form-control" name="email" placeholder="USUÃRIO">
                </div>
                        
                <div class="mt-2 input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input id="password" type="password" class="form-control" name="password" placeholder="SENHA">
                </div>       
                <button type="submit" class="mt-3 btn btn-primary btn-lg btn-block ">ENTRAR</button>
                
                <div class="row mt-3">
                    <div class="col-5 form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="pl-4 form-check-label" for="exampleCheck1">Lembre-me</label>
                    </div>

                    <div class="col-7 form-group" >
                        <label id="exampleCheck2" >Esqueceu sua senha?</label>
                    </div>
                </div>        
                
            </form>
    </div>
</div>
<div class="footer">
   <p>@2019 Modera. Todos os direitos reservados</p>
</div>
