@import ../bootstrap/scss/bootstrap.scss

body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  text-align: center
  background: #f0f4f7
  padding-top: 60px
a
  color: #00B7FF

/*Page Login inicial*/
.img-login
 background-image: url('/images/imagem_back.jpg')
 width: 100%

// boxe blue-grey
.input-group input
  padding-top: 15px
  text-align: center
  border-radius: none

.boxe
  margin-top: 5%
  margin-bottom: 5%
  transform: translateX(-50%)
  left: 50%
  border-radius: 4px
  background: #B0C4DE

.btn-login
  border-radius: 10px

//footer
.footer
  text-align: center
  width: 100%
  height: 60px
  float: left
  background: #254487
  bottom: 0px
  z-index: 1
  // border-top: 1px solid #333
  // left: 0
  position: absolute
  //arrumar melhor a position footer em relaçao a boxe
.footer p
  color: white

/*Page One-Login end*/
.header_dashboard
  background: linear-gradient(to right, #254487,#00a8cc)
  height: 60px
  position: fixed
  width: 100%
  z-index: 1
  top: 0

.img_logo
  width: 200px
  height: auto
  padding-left: 3%

.img_usuario
  width: 20px
  height:  auto
  margin-top: 20px
  margin-right: 10%

.img_logo_top
  max-width: 100%
  height: auto


.dashboard_page
  //background: #254487
/* Dashboard */
.menu_fechado
  align: left
  background: #00acce
  width: 60px
  height: 100%
  color: white
  position: fixed
  top: 60px

.menu_fechado span:hover
  color: #20609e

.sidenav
  height: 100%
  width: 0
  position: fixed
  z-index: 1
  top: 60px
  left: 0
  background-color: #00acce
  overflow-x: hidden
  transition: 0.5s
  padding-top: 40px
  padding-bottom: 60px

.sidenav h5
  color: white
.sidenav a
  padding: 1px 1px 1px 32px
  text-decoration: none
  color: white
  display: block
  transition: 0.3s
  text-align: left

.sidenav a:hover
  color: #20609e

.sidenav hr
  width: 75%
  border-top: 1px solid #00829c

.sidenav .closebtn
  position: absolute
  top: 0
  right: 25px
  font-size: 36px
  margin-left: 50px

@media screen and (max-height: 450px)
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}

.ld-body
  z-index: 1

.center
  margin: auto
  width: 50%

#main 
  transition: margin-left .5s 
  padding: 20px


/*PAGE CADASTROAPARELHO*/



/*FINAL PAGE CADASTROAPARELHO*/

.movap-nomes
  margin: 0 0 0 0

.movap-titulo
  margin-top: 40px

.movap-titulo h4
  color: #00aed0
  font-weight: bold

.movap-boxcinza
  background: #d4d4d4
.movap input
  background: #254085
.movap button
  background: #254085


/*dashboardmanager */
body 
  overflow-x: hidden


  
#sidebar-wrapper 
  min-height: 100vh
  -webkit-transition: margin .25s ease-out
  -moz-transition: margin .25s ease-out
  -o-transition: margin .25s ease-out
  transition: margin .25s ease-out
  min-width: 10vw

#sidebar-wrapper hr
  width: 75%
  border-top: 1px solid #00829c

#page-content-wrapper 
  min-width: 50vw


#wrapper.toggled #sidebar-wrapper 
  margin-left: 0

.lateral
  background-color: #00acce

@media (min-width: 768px) 
  #sidebar-wrapper 
    margin-left: 0
  

  #page-content-wrapper 
    min-width: 0
    width: 100%
  

  #wrapper.toggled #sidebar-wrapper 
    margin-left: -15rem
  




/*dashboardmanager end*/