@import ../bootstrap/scss/bootstrap.scss

body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  text-align: center
  background: #f0f4f7
  padding-top: 40px
  display: flex
  min-height: 100vh
  flex-direction: column
a
  color: #00B7FF




/*Page Login inicial*/


.maion-alert
 
  position: fixed
  text-align: center
  top: 10px
  right: 10px
  margin-left: 10px

.fade
 opacity: none

.img-login
 background-image:url('/images/imagem_back.jpg')
 background-attachment: fixed
 background-size: cover
 background-repeat: no-repeat
 padding-top: 3px !important
 height: 100vh
 width: 100%
 margin-top: -78px
 -webkit-background-size: cover


//-----boxe
.input-group input
  padding-top: 15px
  text-align: center
  border-radius: none

.boxe
  background-color: #fff
  text-align: center
  display: flex
  margin-top: 60px
  justify-content: center
  overflow: none
  z-index: 1

.boxe-img
 height: 40vmin



//------footer
.footer
  text-align: center
  width: 100%
  height: 60px
  float: left
  background: #254487
  bottom: 0px
  z-index: 1
  position: fixed
  margin-bottom: 0

.footer p
  color: white

/*Page One-Login end*/
.header_dashboard
  background: linear-gradient(to right, #254487,#00a8cc)
  height: 60px
  position: fixed
  width: 100%
  z-index: 1
  top: 0

.img_logo
  width: 200px
  height: auto
  padding-left: 3%

.img_usuario
  width: 100px
  height:  auto
  margin-top: 10px
  margin-right: 10%

.img_logo_top
  max-width: 100%
  height: auto


.dashboard_page
  //background: #254487
/* Dashboard */


#main
  transition:  0.8s
  padding: 100px
  padding-top: 0px
  padding-bottom: 0px


.menu_fechado
  align: left
  background: #00acce
  width: 80px
  height: 100%
  color: white
  position: fixed
  top: 60px


.menu_fechado span:hover
  color: #20609e
  z-index: 3



.sidenav
  height: 100%
  width: 0
  position: fixed
  z-index: 1
  top: 60px
  left: 0
  background-color: #00acce
  overflow-x: hidden
  transition: 0.5s
  padding-top: 40px
  padding-bottom: 60px

.sidenav h5
  color: white

.sidenav a
  padding: 1px 1px 1px 32px
  text-decoration: none
  color: white
  display: block
  transition: 0.5s
  text-align: left

.sidenav a:hover
  color: #20609e

.sidenav hr
  width: 75%
  border-top: 1px solid #00829c

.sidenav .closebtn
  position: absolute
  top: 0
  right: 25px
  font-size: 36px
  margin-left: 50px

@media screen and (max-height: 450px)
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}

.ld-body
  z-index: 1

.center
  margin: auto
  width: 50%



/*PAGE CADASTROAPARELHO*/



/*FINAL PAGE CADASTROAPARELHO*/

.movap-nomes
  margin: 0 0 0 0

.movap-titulo
  margin-top: 40px

.movap-titulo h4
  color: #00aed0
  font-weight: bold

.movap-titulo h2
  color: #00aed0
  font-weight: bold

.movap-boxcinza
  background: #d4d4d4
.movap input
  background: #254085
.movap button
  background: #254085

.div-home
  height: 350px
  overflow: auto

  .textbox
    width: 85%
    overflow: hidden
    font-size: 20px
    padding: 10px
    margin: 8px 28px
    align-items: center
    border: 2px solid #254085
    border-radius: 6px
    justify-content: center

  .textbox input
    border: none
    outline: none
    background: none
    font-size: 18px
    width: 100%
    margin: 0 10px
    align-items: center

// FORGOT PASSWORD PAGE

.password-box
  width: 400px
  height: 340px
  position: absolute

  top: 65%
  text-align: center

  left: 50%
  transform: translate(-50%,-50%)
  color: #254085
  background: #FFFFFF
  padding: 10px

.password-box h1
  color: #254085
  font-size: 40px
  border-bottom: 4px solid #90EE90
  margin-bottom: 13px 0

.wrapper
  background-image: url('/images/fundo7.jpg')
  background-repeat: no-repeat
  background-position: center
  padding: 28em
  width: 100%
