@import ../bootstrap/scss/bootstrap.scss

body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  text-align: center
a
  color: #00B7FF

/*Page Login inicial*/


// boxe blue-grey
.input-group input
  padding-top: 20px
  text-align: center
  border-radius: none

.boxe
  margin-top: 5%
  margin-bottom: 5%
  transform: translateX(-50%)
  left: 50%
  border-radius: 4px
  background: #B0C4DE

.btn-login
  border-radius: 10px

//footer
.footer
  text-align: center
  width: 100%
  float: left
  background: #254487
  position: absolute
  bottom: 0
  //arrumar melhor a position footer em relaçao a boxe


.footer p
  color: white

/*Page Login end*/

.dashboard_page
  background: #254487
  height: 60px
/* Dashboard */

.barra-lat
  background: #00acce
  height: 550px



/*Page Cadastro de aparaelhos -1*/

